--extra-index-url https://download.pytorch.org/whl/cpu
jupyter
mlflow 
scikit-learn
xgboost
ray 
starlette 
transformers
pandas 
seaborn 
wordcloud
nltk
dvc 
ray[serve]
torch 
torchvision 
torchaudio
intel-extension-for-pytorch
